@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header div h1 {
        margin-top: 1.5em;
        font-size: 60px;
    }

    header div p {
        font-size: 25px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
        }
    }

    .hamburger {
        display: none;
    }
    /* hamburger button does not need to be shown */
    .forecast {
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    /* show the 10-day forecast with the medium view and up */
    .town-article img {
        width: 62.666%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }


    .navigation li {
        display: block;
    }

    li {
        float: left;
    }

    li a {
        font-size: 20px;
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #ddd;
    }

    li a.active {
        color: white;
        background-color: #4CAF50;
    }

    article {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .current img {
        width: 30%;
    }

    .articlediv {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* responsive images */
}
